
body {
  background-color: #fff;
  color: #303;
  font-family: sans-serif;
  text-align: center;
}

ul {
  width: 85%;
}

li {
  list-style-type: none;
  margin: 5px;
}

.codeline {
  height: 100px;
  width: 100%;
  padding: 2px;
}

.color1 {
  background-color: #ffd;
  border: 2px solid #eec;
}

.color2 {
  background-color: #fed;
  border: 2px solid #edc;
}

.tool {
  background-color: #bbb;
  height: 40px;
  padding: 2px;
}

.updowncontainer {
  margin: 4px;
  height: 90%;
  width: 50px;
  display: inline-block;
  vertical-align: top;
}

.updowncontainer>input {
  width: 100%;
}

.codepiece {
  border: 2px solid #000;
  margin: 4px;
  width: 200px;
  height: 90%;
  display: inline-block;
  vertical-align: top;
}

.subcontainer {
  background-color: #def;
}

.subselectbutton {
  width: 100%;
  height: 100%;
}

.subselected {
  background-color: #008fff;
}

.subdeselected {

}

.betweenselectbutton {
  width: 20%;
  height: 5%;
}
