
body {
  background-color: #fff;
  color: #303;
  font-family: sans-serif;
  text-align: center;
}

ul {
  margin: auto;
  text-align: center;
  width: 85%;
}

li {
  list-style-type: none;
  padding: 5px;
  margin: 5px;
}

.fullwidth {
  width: 100%;
}

.color1 {
  background-color: #ffd;
}

.color2 {
  background-color: #fdd;
}

.updowncontainer {
  width: 50px;
  display: inline-block;
}

.codepiece {
  border: 2px solid #000;
  margin: 10px;
  width: 200px;
  height: 80px;
  display: inline-block;
}

.subcontainer {
  border: 1px solid #000;
  background-color: #def;
}

.subselectbutton {
  width: 50%;
  height: 100%;
}
