[draggable] {
  user-select: none;
}

body {
  background-color: #fff;
  color: #303;
  font-family: sans-serif;
  text-align: center;
}

ul {
  margin: auto;
  text-align: center;
  width: 85%;
}

li {
  height: 80px;
  list-style-type: none;
  padding: 5px;
  border: 2px solid #000;
  margin: 5px;
}


.subcontainer {
  margin: 5px;
  border: 1px solid #000;
  float: right;
  width: 500px;
}
